### Menggabungkan (Merge) Data Geospatial

In [19]:
import geopandas as gpd

# Membaca GeoDataFrame
countries = gpd.read_file("./data/ne_110m_admin_0_countries/")
populated_places = gpd.read_file("./data/ne_110m_populated_places/")

# Menggabungkan kedua GeoDataFrame dengan menggunakan kolom yang sama
# Misalkan, kita memiliki kolom 'ISO_A2' yang berisi kode negara dua huruf di kedua dataset
# Proses merge dilakukan dengan inner join agar hanya data yang ada di kedua dataset yang digabungkan
merged_gdf = populated_places.merge(countries, how='inner', left_on='ISO_A2', right_on='ISO_A2')

# Menampilkan beberapa baris hasil merge
merged_gdf.head()

,SCALERANK,NATSCALE,LABELRANK_x,FEATURECLA,NAME_x,NAMEPAR,NAMEALT,NAMEASCII,ADM0CAP,CAPIN,...,FCLASS_TR_y,FCLASS_ID_y,FCLASS_PL_y,FCLASS_GR_y,FCLASS_IT_y,FCLASS_NL_y,FCLASS_SE_y,FCLASS_BD_y,FCLASS_UA_y,geometry_y
0,6,30,8,Admin-0 capital alt,Lobamba,None,None,Lobamba,0,Legislative and,...,None,None,None,None,None,None,None,None,None,"POLYGON ((32.07167 -26.73382, 31.86806 -27.177..."
1,6,30,8,Admin-0 capital,Luxembourg,None,None,Luxembourg,1,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((6.04307 50.12805, 6.24275 49.90223, ..."
2,6,30,0,Admin-0 capital alt,Bir Lehlou,None,None,Bir Lehlou,0,Claimed as inte,...,Unrecognized,Unrecognized,Unrecognized,None,None,Unrecognized,None,None,None,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,4,50,8,Admin-0 capital,Port-of-Spain,None,None,Port-of-Spain,1,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((-61.68 10.76, -61.105 10.89, -60.895..."
4,4,50,0,Admin-0 capital,Kigali,None,None,Kigali,1,None,...,None,None,None,None,None,None,None,None,None,"POLYGON ((30.4191 -1.13466, 30.81613 -1.69891,..."

In [20]:
# Misalkan kolom untuk penggabungan di cities adalah 'ISO_A3' (kode negara 3 huruf)
# dan di populated_places kolomnya adalah 'ISO_A2' (kode negara 2 huruf)
# Kita akan menggunakan inner join, tetapi kolom penggabungan berbeda di kedua dataset
merged_gdf = populated_places.merge(countries, how='inner', left_on='ISO_A2', right_on='ISO_A3')

# Menampilkan beberapa baris hasil gabungan
merged_gdf.head()

,SCALERANK,NATSCALE,LABELRANK_x,FEATURECLA,NAME_x,NAMEPAR,NAMEALT,NAMEASCII,ADM0CAP,CAPIN,...,FCLASS_TR_y,FCLASS_ID_y,FCLASS_PL_y,FCLASS_GR_y,FCLASS_IT_y,FCLASS_NL_y,FCLASS_SE_y,FCLASS_BD_y,FCLASS_UA_y,geometry_y
0,4,50,8,Admin-0 capital,Pristina,None,None,Pristina,1,None,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((15.14282 79.67431, 15.52255 80..."
1,4,50,8,Admin-0 capital,Pristina,None,None,Pristina,1,None,...,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-51.6578 4.15623, -52.24934 3...."
2,4,50,8,Admin-0 capital,Pristina,None,None,Pristina,1,None,...,Admin-0 country,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,"POLYGON ((32.73178 35.14003, 32.80247 35.1455,..."
3,4,50,8,Admin-0 capital,Pristina,None,None,Pristina,1,None,...,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,Unrecognized,"POLYGON ((48.9482 11.41062, 48.9482 11.41062, ..."
4,4,50,8,Admin-0 capital,Pristina,None,None,Pristina,1,None,...,Admin-0 country,Unrecognized,Admin-0 country,Unrecognized,Admin-0 country,Admin-0 country,Admin-0 country,Admin-0 country,Unrecognized,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."

### Menggabungkan (Concatenate) Data Geospatial

In [21]:
import pandas as pd

# Menggabungkan (concatenate) kedua GeoDataFrame secara vertikal
# pastikan kedua GeoDataFrame memiliki struktur kolom yang sama agar hasilnya baik
combined_gdf = pd.concat([countries, populated_places], ignore_index=True)

# Menampilkan beberapa baris hasil gabungan
combined_gdf.head()

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,...,POP2005,POP2010,POP2015,POP2020,POP2025,POP2050,WOF_ID,CAPALT,LABEL,GEONAMESID
0,Admin-0 country,1.0,6,Fiji,FJI,0.0,2.0,Sovereign country,1,Fiji,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Admin-0 country,1.0,3,United Republic of Tanzania,TZA,0.0,2.0,Sovereign country,1,United Republic of Tanzania,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Admin-0 country,1.0,7,Western Sahara,SAH,0.0,2.0,Indeterminate,1,Western Sahara,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Admin-0 country,1.0,2,Canada,CAN,0.0,2.0,Sovereign country,1,Canada,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Admin-0 country,1.0,2,United States of America,US1,1.0,2.0,Country,1,United States of America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN